    fastapi
    uvicorn[standard]
    jinja2
    sqlalchemy
    pydantic
    passlib
    python-multipart
    PyMuPDF
    chromadb
    scikit-learn
    numpy<2
    nltk
    sentence-transformers==2.2.2
    huggingface-hub==0.16.4
    google-generativeai
    python-dotenv
    itsdangerous
    